#top{
    display: flex;
    justify-content: space-between;
}

#titre{
    max-width: 50%;
    text-align: center;
}
#titre h2{
    text-align: center;
}

#BackArrow{
    padding-top: 2.5%;
    padding-left : 2.5%;
    width: 5%;
}
#BackArrow img{
    width: 100%;
}
h1{
    font-size: 50px;
}

h2{
    display: flex;
    justify-content: center;
    font-family: Gros;
    letter-spacing: 2px ;
}

#contenu{
    display: flex;
}
#contener{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-right: 3%;
    margin-left: 3%;
}

b,h3{
    color: rgb(255, 204, 0);
    text-align: center;
}


#droite {
    border-left: solid white 1px;
    margin-left: 3%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    height: 50vh; /* Hauteur fixe */
    overflow-y: auto; /* Active le scroll vertical */
}

/* Style de la barre de défilement pour plus d'esthétique */
#droite::-webkit-scrollbar {
    width: 8px;
}

#droite::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

#droite::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

#droite::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.9);
}

#gauche{
    min-width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#centerSpace {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%; 
    height: 90%;
    background-color: rgba(128, 128, 128, 0.5);
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 45px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 90%;
    box-sizing: border-box;
    padding: 20px;
}

#Images{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2%;
}

p,li{
    margin: 2%;
}

ul{
    text-decoration: none;
    padding-inline-start : 0;
    margin : 0;
}

#Images img{
    max-width : 25%;
}

#centerSpace::-webkit-scrollbar {
    width: 8px;
    height:min-content;
}

#centerSpace::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

#centerSpace::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

#centerSpace::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.9);
}