#top{
    display: flex;
    padding-top: 2%;
    padding-left : 2.5%;
}


#titre{
    margin-left: 35%;
}

#BackArrow{
    padding-top: 2.5%;
    padding-left : 2.5%;
    width: 3%;
}
#BackArrow img{
    width: 100%;
}


h1{
    font-size: 40px;
}

#projets{
    display: flex;
    justify-content: center;
}

#projets a{
    margin: 2%;
}

.ImageProjet{
    width: 25em;
    height: 15em;
    margin-right: 5em;
    margin-left: 5em;
    margin-top: 5em;
}

body{
    margin-left: 5%;
    margin-bottom: 20%;
}

a p{
    text-align: center;
}

#tableProjet{
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    overflow-y: auto;
    padding-right: 20px;
}